
body {
    font-size: 100%;
}
a {
    text-decoration: none;
}
ul,
ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    width: auto;
    height: auto;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}
.menu > li > a {
    background-color: #e5e4e2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(188,198,204)),to(rgb(152,175,199)));
    background-image: -webkit-linear-gradient(top, rgb(188,198,204), rgb(152,175,199));
    background-image: -moz-linear-gradient(top, rgb(188,198,204), rgb(152,175,199));
    background-image: -o-linear-gradient(top, rgb(188,198,204), rgb(152,175,199));
    background-image: -ms-linear-gradient(top, rgb(188,198,204), rgb(152,175,199));
    background-image: linear-gradient(top, rgb(188,198,204), rgb(152,175,199));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
    border-bottom: 1px solid #2c3539;
    -webkit-box-shadow: inset 0px 1px 0px 0px #566d7e;
    -moz-box-shadow: inset 0px 1px 0px 0px #566d7e;
    box-shadow: inset 0px 1px 0px 0px #566d7e;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #000;
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}

body {
    background:#ffffff;
}
#wrapper {
    font-size: 0.8125em;    /* 13/16 = 0.8125*/
}
.menu > li > a {
    height: 2.75em;         /* 36/13 ≈ 2.75*/
    line-height: 2.75em;    /* 36/13 ≈ 2.75*/
    text-indent: 2.75em;    /* 36/13 ≈ 2.75*/
}
.menu ul li a {
    background: #fff;
    border-bottom: 1px solid #2c3539;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.923em;
    font-weight: 400;
    color: #878d95;
}
.menu ul li:last-child a {
    border-bottom: 1px solid #566d7e;
}

.menu > li > a:hover,
.menu > li > a.active {
    background-color: #151b54;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(67, 191, 199)),to(rgb(78, 137, 117)));
    background-image: -webkit-linear-gradient(top, rgb(67, 191, 199), rgb(78, 137, 117));
    background-image: -moz-linear-gradient(top, rgb(67, 191, 199), rgb(78, 137, 117));
    background-image: -o-linear-gradient(top, rgb(67, 191, 199), rgb(78, 137, 117));
    background-image: -ms-linear-gradient(top, rgb(67, 191, 199), rgb(78, 137, 117));
    background-image: linear-gradient(top, rgb(67, 191, 199), rgb(78, 137, 117));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
    border-bottom: 1px solid #2c3539;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}
.menu > li > a.active {
    border-bottom: 1px solid #2c3539;
}
.menu ul > li > a span {
    font-size: 0.857em;
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 50%; 
    background: #fff;
    border: 1px solid #d0d0d3;
    line-height: 1em;
    height: 1em;
    padding: .4em .7em;
    margin: -.9em 0 0 0;
    color: #878d95;
    text-indent: 0;
    text-align: center;
    -webkit-border-radius: .769em;
    -moz-border-radius: 769em;
    border-radius: 769em;
    text-shadow: 0px 0px 0px rgba(255,255,255,.01);
}
.menu > li > ul li a:before {
    content: '▶';
    font-size: 8px;
    color: #bcbcbf;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    left: -2.7em;
}
.menu > li > ul li:hover a,
.menu > li > ul li:hover a span,
.menu > li > ul li:hover a:before {
    color: #32373D;
}

